.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
#start, #number_of_objects, #status{
    font-size: 20px;
}
.copyright_foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: blueviolet;
    text-align: center;
    line-height: 3;
    text-decoration: solid;
    font-size: 25px;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}